<!DOCTYPE html>
<html lang="en">

<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>School-255</title>

  <!--
    - favicon
  -->
  <link rel="shortcut icon" href="{% static 'site/assets/images/shortcut.png' %}" type="image/svg+xml">

  <!--
    - custom css link
  -->
  <link rel="stylesheet" href="{% static 'site/assets/css/style.css' %}">

  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@500&family=Poppins:wght@600;700&family=Rubik:wght@400;500&display=swap"
    rel="stylesheet">
</head>

<body id="top">


            {% block content %}{% endblock %}


  <!--
    - custom js link
  -->
  <script src="{% static 'site/assets/js/script.js' %}"></script>

  <!--
    - ionicon link
  -->
  <script type="module" src="{% static 'site/https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js' %}"></script>
  <script nomodule src="{% static 'site/https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js' %}"></script>

</body>

</html>


